@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-section-bg: #1c1e23;
  --color-rank-bg: #0e1116;
  --color-rank-border: #686868;
  --color-rank-text: #e7e7e7;
  --color-rank-divider: #949494;
  --color-button-text: #0aff68;
  --color-home-text-sub: #969696;
  --color-myportfolio-text-sub: #696969;
  --color-button-bg-second: #1f2833;

  --color-deepBlack: #020408;
  --color-charcoal: #0e1116;
  --color-shadow: #272c32;
  --color-ocean: #385e6f;
  --color-sky: #3fa1cc;
  --color-royal: #3c83f0;
  --color-navy: #233155;
}

/* 전체 HTML과 Body 초기화 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0b0c10; /* 기본 배경색 설정 */
  color: #fff;
}

/* React의 #root 초기화 */
#root {
  max-width: none;
  height: 100%;
}
